<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8" />
    <title>{% block title %}Stego Tool{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stego.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- Full-width header -->
    <header class="main-header">
      <div class="header-inner">
        <h1>
          <i class="fas fa-user-secret inline-icon"></i> Stego Encryptor &
          Decryptor
        </h1>
        <nav class="navbar"></nav>
      </div>
    </header>

    <!-- Page content (centered with padding) -->
    <main class="container">{% block content %}{% endblock %}</main>

    <!-- Full-width footer -->
    <footer class="footer">
      <div class="footer-inner">
        <p>&copy; 2025 StegoTool. Shardul</p>
      </div>
    </footer>
  </body>
</html>
